* {
    font-family:"Nunito", sans-serif;
    
}
.body{
    background-color: #CAADE6;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #610588;
    color: white;
    padding: 10px 100px 10px 100px;
    margin:0;
}

ul,li{
    display: flex;
    justify-content: flex-end;
    align-items:center; /* Alinha verticalmente ao centro */
    padding: 0px 0px 0px 100px;
}

a,li {
    color: white;
    text-decoration: 0;
    font-size: 16px;

}

.titulo{
    text-align: center;
}
.principal{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 50px 100px;
    color:#610588;
}

.texto{
    display: flex;
    flex-direction: column; /* Alinha itens em uma coluna */
    justify-content: center; /* Alinha horizontalmente ao centro */
    align-items: center; /* Alinha verticalmente ao centro */
    max-width: 600px;
    white-space: normal;
    font-size: 20px;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px 0px 100px;
    background-color: #610588;
    color: white;
}

.logo{
    margin-bottom: 100px;
}

.span{
    text-align: center;
    background-color: #CAADE6;
    color:white;
    margin-left:-50px;
}

